/*Autor:Đorđe Pajić*/

.profile-card{
    width: 400px;
    background-color: #FFA500;
}

.btn {  
    margin-top: 0;
    padding-top: 0;
}

.card{
    display: flex;
    flex-direction: row;
    padding: 20px;
    height: 200px;
    margin-bottom: 20px;
}

.menu-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buttonWrapper{
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
}

/*Autor:Đorđe Pajić*/

#brand-name{
    /*color: #FFFDE8;*/
    color: #FFA500;
    font-size: 35px;
}

footer{
    background-color: #FFFDE8 !important;
}

#main{
    padding-top: 60px;
    background-color: #FFFDE8;
    min-height: 600px;
    height: auto;
    padding-bottom: 50px;
}

#loginBtn{
    margin-left: 30px;
    margin-right: 20px;
    background-color: #FFA500;
}

nav{
    background-color: #FFFDE8;
}

.nav-item{
    margin-left: 50px;
}

.navbar-brand {
    margin-left: 20px;
    margin-right: auto;
}

.navbar-nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#footer{
    text-align: end;
    font-style: italic;
}

.list-group-item {
background-color: #fff;
border-color: rgba(0, 0, 0, 0.125);
border-radius: 8px;
margin-bottom: 10px;
display: flex;
justify-content: space-between;
align-items: center;
}

.list-group-item:hover {
background-color: #f0f0f0;
}

.list-group-item .details h5 {
margin-bottom: 5px;
font-weight: bold;
}

.list-group-item .details p {
margin-bottom: 0;
}
