<!--autor: Lana Jovanovic-->

<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% include 'reusable/adminHeadTemplate.html' %}
</head>
<body>
    
    <div class="container-fluid">

        <!--Header-->
        {% include 'reusable/adminHeaderTemplate.html' %}

        <!--Main-->
        <div class="row">
            <div class="col-lg-12" id = "main"> </div>
        </div>

        <!--Footer-->
        {% include 'reusable/footerTemplate.html' %}
    
    </div>

</body>
</html>