<!--autor: Lana Jovanovic-->

<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% include 'reusable/adminHeadTemplate.html' %}
</head>
<body>

    <div class="container-fluid">

        <!--Header-->
        {% include 'reusable/adminHeaderTemplate.html' %}

        <!--Main-->
        <div class="row d-flex justify-content-center" id = "main">
            <div class="col-lg-8 list-group rounded" id = "korisnickiZahtevi">
                {% for user in users %}
                    {% include 'reusable/userListTemplate.html' %}
                    <br>
                {% endfor %}
            </div>
        </div>

        <!--Footer-->
        {% include 'reusable/footerTemplate.html' %}

        <!-- Modal -->
        {% include 'reusable/adminUsersModal.html' %}

    </div>
</body>
</html>